/* Estilos personalizados para el contenedor de los puntos de paginación */
.product-image-gallery .swiper-pagination {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.4));
  padding: 1px 6px;
  border-radius: 20px;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%);
  bottom: 2px !important;

  @media (min-width: 600px) {
    bottom: -44px !important;
    padding: 3px 8px;
  }
}

/* Puntos inactivos - más transparentes */
.product-image-gallery .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

/* Punto activo - blanco brillante */
.product-image-gallery .swiper-pagination-bullet-active {
  background: rgba(255, 255, 255, 1);
  opacity: 1;
}
