.root::before {
  background-color: white;
  bottom: -6px;
  content: '';
  display: inline-block;
  height: 3px;
  opacity: 0;
  position: absolute;
  width: 0;
  transition: all 0.4s;
}

.root:hover::before {
  opacity: 1;
  width: 100%;
  left: 0;
  width: 100%;
  transition: all 0.4s;
}
